*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
}


.flex{display: flex;}
.align-center{align-items: center;}
.justify-left{justify-content:left;}
.justify-center{justify-content: center;}
.justify-right{justify-content: right;}
.space-between{justify-content: space-between;}
.column{flex-direction: column;}



/*+ Main items **/

h1,h2{
    font-size: 36px;
    line-height: 42px;
    margin: 20px 0;
}
h1,h2,h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
section.header h1::after { /*punto azul*/
    content: attr(data-end) ;
    color: #0000FF ;
}
section.header,
.nosotros,
.temas,
.novedades,
main .episodios,
.galeria h2{
    padding: 16px;
}
main .episodios iframe{
    margin: 5px 0;
    max-width: 594px;
}
main .episodios{
    position: relative;
    margin-top: 30px;
}
main .episodios .bg-blue{
    left: 0px;
    position: absolute;
    top: -30px;
    padding-top: 50px;
    height: 130%;
    width: 100%;
    transform: skewY(-7deg);
    background-color: #0000FF;
    z-index: -1;
}
.novedades .bg-blue{
    left: 0px;
    position: absolute;
    top: 100px;
    padding-top: 50px;
    height: 140%;
    width: 100%;
    transform: skewY(-7deg);
    background-color: #0000FF;
    z-index: -1;
}
.nosotros > div{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.nosotros p{margin-bottom: 10px;}
.nosotros img{width: 300px;}

.novedades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.novedades > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.novedades .big{
    padding-top: 100px;
}
section.header p{
    margin-top: 25px;
}
.tachado{text-decoration:line-through;}
.blue{color: #0000FF;}
.white{color: #fff;}
.bg-blue{background-color: #0000FF;}

.temas div{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.temas div img{
    width: 104px;
}
.temas div h3{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.galeria div img{
    width: 100%;
    margin:0;
    padding: 0;
}
.galeria div {
    display: flex;
    flex-direction: column;
}

.burger-menu{
    display: flex;
    justify-content: flex-end;    
}
footer{
    overflow: hidden;
}
footer .big h2{
    width: 200px;
    text-align: center;
    line-height: 42px;
}
footer .barra{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0 20px 0;
}
footer .barra .redes{
    padding: 20px 0;
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding: 16px;
}
footer .barra .redes a{
    font-size: 20px;
    color: #060A24;
}

/** Mobile menu **/
.desktop-menu{display: none;}
#hamburguesa {display: none;}
.nav-menu-mobile {display: none;}

.logo,
.burger-icon img,
.burger-icon .change-icon{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.burger-icon .change-icon{
    background: no-repeat center url("./assets/burger.svg");
    background-size: 20px 20px;
}
#hamburguesa:checked ~ .burger-icon .change-icon{
    background: no-repeat center url("./assets/close.svg");
    background-size: 30px 30px;
}
.nav-menu-mobile{
    position: absolute;
    top: 40px;
    left: 0px;
}
.nav-menu-mobile div {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #0000FF;
    cursor: pointer;
    margin: 0px;
}
nav.mobile-menu{
    display: flex;
    justify-content: space-between;
}
#hamburguesa:checked ~ .nav-menu-mobile {
    display: block;
    width: 100%;
    transition: width 0.3s ease-out;
}
.nav-menu-mobile div:hover {
    color:  #00F3BB;
    text-decoration:line-through;
}
.nav-menu-mobile div a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    width: 100%;
}
.nav-menu-mobile div a:hover{
    text-decoration: none;
    color: #00F0B8;
}

/** button & animations **/

button{
    background-color: #00F3BB;
    width: 100%;
    height: 56px;
    font-family: 'IBM Plex Mono';
    font-size: 18px;
    color: #060A24;
    text-transform: uppercase;
    cursor: pointer;
    margin: 30px 0;
    border: none;
}
button:hover{
    color:#fff;
    background-image: linear-gradient(to right, #00F0B8 40%, #0000FE 100%);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-position: center right;
}

.nav-menu-mobile div:hover {
    background-image: linear-gradient(to right, #0000FE 40%, #00F0B8 100%);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out 2;
    background-position: center right;
}

footer .barra .redes a i{
    background: linear-gradient(65deg, #00F0B8, #0000FE);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    color:rgba(0,0,0,1);
    transition: color .2s ease-in-out;
    background-clip: text;
    -webkit-background-clip:text;
}
footer .barra .redes a i:hover{
    color:rgba(0,0,0,0);
}
@keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
}

/** DESKTOP **/
@media screen and (min-width: 680px) {

    .desktop-menu{display: flex;}
    nav.mobile-menu{display: none;}

    header{
        padding: 30px 20px;
    }
    nav,
    .desktop-menu ul li{
        display: flex;
        justify-content: space-between;
    }
    .desktop-menu ul li a{
        text-decoration: none;
        color: #060A24;
    }
    .desktop-menu ul li a:hover{
        color:  #00F3BB;
        text-decoration:line-through;
    }
    .desktop-menu ul li a:active{
        color:  rgba(6,10,36,0.56);
        text-decoration:line-through;
    }
    .desktop-menu li {
        list-style-type: none;
        cursor: pointer;
        text-decoration: none;
        padding: 0 20px;
        text-transform: uppercase;
    }
    .desktop-menu ul {
        display: flex;
        justify-content: flex-end;
    }
    header nav.desktop-menu div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h1{font-size: 64px;}
    button{
        width: 226px;
        padding: 16px;
    }
    .episodios iframe{
        width: 49%;
    }
    .nosotros{
        display: flex;
        justify-content: center;
    }
    .nosotros > div{
        display: flex;
        flex-direction: row;
    }
    .temas > div,
    .galeria div{
        display: flex;
        flex-flow: row wrap;
    }
    .temas > div div{
        width: 25%;
        justify-content: center;
        text-align: center;
        min-width: 200px;
    }
    .galeria div img{
        width: 33.3%;
        margin: 0;
        padding: 0;
    }
    .novedades .big h2{
        width: 80%;
        margin-top: 60px;
    }
    .novedades button{
        width: 345px;
    }
    footer{
        height: 450px;
    }
    footer .barra{
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
    }
    section.header,
    .nosotros,
    .temas,
    .novedades,
    .galeria h2,
    footer .barra{
        padding: 16px 10%;
    }
    main .episodios{
        padding: 16px 100px;
    }
    main .episodios h2{
        padding: 0 50px;
    }
}
